<div class="card" style="margin: 5rem!important">
    <div class="card-body m-1 text-center" >
        {{!-- <h1 class="text-center">Invalid URL</h1> --}}
        <img src='/assets/images/error.jpg'>
              
    </div>
</div>

