<div class="card m-5">
    <div class="card-body m-1">

        <div class="col">

            <img class="rounded-circle fa fa-pull-left fa-border" aria-hidden="true" src="/assets/images/goku.png" />
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h3>Tejaswee Panwar</h3>
            </div>
            {{!-- <small>Software Engineer</small> --}}
            <div class="col-sm-6 col-md-6">
                <a class="float-right p-2" href='https://in.linkedin.com/in/tejaswee-panwar' target="_blank">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>


            </div>
        </div>





    </div>
</div>