
<div class="card" style="margin: 10rem!important">
    <div class="card-body m-1 text-center" >
        <h2>Authorized Users Allowed Only!!</h2><br/>
        <a class="btn btn-primary" href="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/signup">Create an Account</a>      
    </div>
</div>


